.productListWrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  padding: 20px;
}

@media screen and (max-width: 912px) {
  .productListWrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 728px) {
  .productListWrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 580px) {
  .productListWrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}
